{% extends "base.twig" %}

{% block title %}Blog Home{% endblock %}
{% block head %}
{{ parent() }}
{% endblock %}

{% block content %}
                      {% for item in entries %}
                        <article>
                        <h2><a href="/entry/{{ item.id }}" > {{ item.title }} </a></h2>
                        <time> {{ item.date }} </time>
                        </article>
                        {% endfor %}


{% endblock %}
